{% extends "Posteos/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}
<h1 style="color:tomato">Aquí puede modificar sus datos.</h1>
<p></p>
<form action="{% url 'editarperfil' %}" method="post">{% csrf_token %}
    <table>
        {{ formulario.as_table}}
    </table>
    <input type="submit" value="Guardar">
</form>
<p>
<button><a href="{% url 'agregarElAvatar' %}">Editar el Avatar</a>
</button> <button><a href="{% url 'home' %}">Volver a Inicio</a></button>
</p>
 
{% endblock %}

{% block titulo %}
    <h1 >Perfil de: {{usuario}}</h1>
{% endblock %}